<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Feedback</title>
  </head>
  <body>
    <h1>Feedback</h1>
    <ul>
      {% for feedback in feedback %}
      <li>
        <strong>Name: {{feedback.name}}</strong>
        <strong>Email: {{feedback.email}}</strong>
        <strong>Message: {{feedback.message}}</strong>
        <hr />
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
